* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */

a {
  text-decoration: none;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(line-clamp, 2);
  -webkit-line-orient: vertical;
  overflow: hidden;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}

/* Header */

.fixed-header {
  background: #e6f0ff;
  padding-top: 26px;
  position: sticky;
  top: -26px;
  z-index: 1;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  /* padding-top: 38px; */
  padding: 12px 0;
  /* background: orange; */
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .action {
  margin-left: auto;
}

.navbar ul a {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .info .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}

.hero .info .title {
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.19;
  margin-bottom: 30px;
}

.hero .info .desc {
  min-width: 550px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  margin-bottom: 40px;
}

.hero-cta {
  min-width: 170px;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}

/* ============== Clients ============== */

.clients {
  margin-top: 122px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .row p {
  color: #7d8589;
  margin-top: 23px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}

.clients .img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.clients .img a {
  display: flex;
  align-items: center;
  padding: 0 42px;
  height: 90px;
  border-radius: 12px;
}

.clients .img a:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ============== Guides ============== */

.guides {
  margin-top: 200px;
}

.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.guides .sub-title::before {
  position: absolute;
  top: -10px;
  right: 50%;
  transform: translateX(50%);
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.guides .desc {
  width: 42%;
  color: #5a6473;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9;
}

.guides .list-guide {
  margin-top: 70px;
}

.list-guide {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.list-guide .guide-item {
  margin: 0 70px;
  text-align: center;
}

.list-guide .title {
  color: #3b3c45;
  margin-top: 26px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

.list-guide .link {
  color: #0689ff;
  font-weight: 600;
  font-size: 1.4rem;
  font-weight: 600;
}

.guide-item .arrow {
  margin-left: 8px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* ============== Featured ============== */

.featured {
  margin-top: 41px;
  background: #f5fafe;
  padding: 110px 0;
}

.featured .sub-title {
  color: #000339;
  margin-bottom: 15px;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.featured .desc {
  --line-clamp: 3;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9;
}

.featured .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured .link {
  color: #0689ff;
  text-align: center;
  margin-right: 8px;
  font-size: 1.8rem;
  font-weight: 600;
}

.list-featured .list {
  display: flex;
  margin-top: 70px;
  gap: 30px;
}

.featured .item {
  flex: 1;
  background: #fff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.featured .item .desc {
  color: #a3a6ab;
  margin-top: 11px;
  margin-bottom: 21px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

.featured .info {
  display: flex;
  align-items: center;
}

.featured .info .label {
  color: #4d4d52;
  margin-left: 8px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.14px;
}

.featured .info .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

/* ============== Stats ============== */

.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .content {
  width: 1017px;
}

.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block .img {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .sub-title {
  position: relative;
  color: #000339;
  width: 269px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.29;
}

.stats .sub-title::before {
  position: absolute;
  /* display: block; */
  content: "";
  top: -10px;
  left: 0;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.stats .desc {
  color: #5a6473;
  width: 309px;
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}

.stats .img-block {
  position: relative;
}

.stats .trend {
  width: 239px;
  height: 252px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 0 0 12px 12px;
  padding: 45px 23px 41px 22px;
}

.stats .row {
  display: flex;
}

.stats .trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.26px;
}

.stats .trend .desc {
  color: #a7a7a7;
  width: 194px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.stats .separate {
  height: 1px;
  margin-top: 25px;
  background: #e9e9e9;
}

.stats .avt-block {
  display: flex;
  margin-top: 26px;
  gap: 16px 14px;
  flex-wrap: wrap;
}

.stats .avt-group {
  display: flex;
}

.stats .avt-group .avt {
  width: 16px;
  height: 16px;
  margin-left: -3px;
  border-radius: 50%;
  background: #1f3bb1;
  text-align: center;
  line-height: 16px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 450;
  letter-spacing: -0.145px;
}

.stats .row-qty {
  margin-top: 110px;
  justify-content: space-between;
  padding: 0 32px;
}

.stats .qty-item .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.stats .qty-item .qty-desc {
  color: #7b8087;
  margin-top: 24px;
  font-size: 1.8rem;
  font-weight: 500;
}

/* ============== Subscribe ============== */

.sub {
  margin-top: 90px;
}

.sub .body {
  display: flex;
  position: relative;
  align-items: center;
  height: 370px;
  border-radius: 20px;
  background: #063183;
}

.sub .info {
  margin: 0 80px;
}

.sub .info .title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.sub .info .desc {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}

.sub .info .btn-sub {
  width: 151px;
  background: #fff;
  color: #002366;
  font-size: 1.3rem;
  font-weight: 500;
}

.sub .img {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* ============== Footer ============== */

.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}

.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .column .sub-title,
.footer .column .heading {
  font-family: "Lato", sans-serif;
  color: #1c1c1d;
  font-size: 2rem;
  font-weight: 700;
}

.footer .column .item {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 18px 0;
}

.footer .column .item:first-child {
  margin-top: 22px;
}

.footer .column .desc {
  /* white-space: nowrap; */
  width: 257px;
  margin: 40px 0;
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.footer .column .social {
  display: flex;
  gap: 15px;
}

.footer .row-bottom {
  margin-top: 81px;
}

.footer .copyright {
  display: flex;
  align-items: center;
  color: #c2c2c2;
  line-height: 14px;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer .social-link:hover {
  background: #ebebeb;
}
